+* { margin:0; padding:0; box-sizing:border-box; }
body {
-    background-color: b3cfff;
+    background-color: #b3cfff;
+}
+section {
+    padding:4em 0;
 }
 h1, h2 {
     color: black;
	font-family: @import url('https://fonts.googleapis.com/css?family=Roboto');
}
-p {
	color: black;
	font-family: @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
}
-nav {
	color: navy;
	font-family: Arial Black;
}
-ul {
	font-family: @import url('https://fonts.googleapis.com/css?family=Roboto');
+}
+ul {
+    font-family: @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
+    padding-left: 1.25em;
+}
