body {
    background-color: b3cfff;
}
h1, h2 {
    color: navy;
font-family: Arial, sans-serif;}
p {color: black;font-family: Calibri;}
nav {color: black;font-family: Arial Black;}
ul {font-family: Calibri;}