@import url('https://fonts.googleapis.com/css?family=Roboto:700|Slabo+27px');
* { margin:0; padding:0; box-sizing:border-box; }
body {
<<<<<<< HEAD
-    background-color: #b3cfff;
+}
+section {
+    padding:4em 0;
 }
 h1, h2 {
    color: black;
	font-family: @import url('https://fonts.googleapis.com/css?family=Roboto');
=======
    background-color: #b3cfff;
    color: rgba(0,0,0,.85);
    font-family: 'Slabo 27px', serif;
    font-size:16px;
    line-height:1.3;
>>>>>>> ca799d596a58f7d93828cc84b5f45db4e4d1e895
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
}
section {
   padding:4em 0;
}
ul {
    padding-left: 1.25em;
}
#intro {
    background:url(../images/PA210045.JPG);
    background-size:cover;
    height:90vh;
}
#intro div {
    background: rgba(128, 0, 128, 0.73);
    padding: 2em;
    color: #fff;
    width: 33em;
}
